name: JDeparser2 CI Build

on:
  push:
    branches:
      - 'main'
      - '2.0'
    paths-ignore:
      - '.gitignore'
      - 'LICENSE.txt'
      - 'README*'
  pull_request:
    branches:
      - 'main'
      - '2.0'

jobs:
  build:
    runs-on: ubuntu-latest
    name: build

    steps:
      - name: Check out project
        uses: actions/checkout@v6
        with:
          path: jdeparser2

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          architecture: x64
          java-version: |
            17
            21
            25

      - name: Maven install
        run: |
          cd jdeparser2
          mvn -fae -U -B -ntp install -Djava17.home=${{env.JAVA_HOME_17_X64}} -Djava21.home=${{env.JAVA_HOME_21_X64}} 

      - name: Upload failure archive
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-failure
          path: '**/surefire-reports/*.txt'
